# PUI Fall 2017 HW 5-3
### Yuwen Chang (ywc249)
### October 2017
### Objective: investigate linear relationships between fire arm possession, homicides by fire arms, and mass shootings for different countries, considering also the country GDP

# Table of Contents
<p><div class="lev1 toc-item"><a href="#Data" data-toc-modified-id="DATA:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data</a></div><div class="lev1 toc-item"><a href="#Exploration" data-toc-modified-id="exploration-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exploration</a></div><div class="lev2 toc-item"><a href="#plot-mass-shooting-vs-gdp-in-absolute-numbers,-and-per-person.-Show-the-errorbars-(y-errors)" data-toc-modified-id="plot-mass-shooting-vs-gdp-in-absolute-numbers,-and-per-person.-Show-the-errorbars-(y-errors)-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>plot mass shooting vs gdp in absolute numbers, and per person. Show the errorbars (y errors)</a></div><div class="lev2 toc-item"><a href="#plot-the-average-number-of-civilian-fire-arms-per-person" data-toc-modified-id="plot-the-average-number-of-civilian-fire-arms-per-person-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>plot the average number of civilian fire arms per person</a></div><div class="lev2 toc-item"><a href="#plot-the-average-number-of-homicide-by-fire-arms-per-person" data-toc-modified-id="plot-the-average-number-of-homicide-by-fire-arms-per-person-23"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>plot the average number of homicide by fire arms per person</a></div><div class="lev2 toc-item"><a href="#plot-the-number-of--homicides-by-fire-arm-against-the-number-of-civilian-firearms.-plot-the--US-in-a-different-color" data-toc-modified-id="plot-the-number-of--homicides-by-fire-arm-against-the-number-of-civilian-firearms.-plot-the--US-in-a-different-color-24"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>plot the number of  homicides by fire arm against the number of civilian firearms. plot the  US in a different color</a></div><div class="lev2 toc-item"><a href="#plot-the-number-of--mass-shootings-against-the-number-of-civilian-firearms.-plot-the--US-in-a-different-color" data-toc-modified-id="plot-the-number-of--mass-shootings-against-the-number-of-civilian-firearms.-plot-the--US-in-a-different-color-25"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>plot the number of  mass shootings against the number of civilian firearms. plot the  US in a different color</a></div><div class="lev1 toc-item"><a href="#Modeling" data-toc-modified-id="Modeling-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Modeling</a></div><div class="lev2 toc-item"><a href="#fit-a-line-to-the-Number-of-mass-shootings--per-person-as-a-function-of-Average-total-all-civilian-firearms-per-person." data-toc-modified-id="fit-a-line-to-the-Number-of-mass-shootings--per-person-as-a-function-of-Average-total-all-civilian-firearms-per-person.-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>fit a line to the Number of mass shootings  per person as a function of Average total all civilian firearms per person.</a></div><div class="lev2 toc-item"><a href="#Extra-credit:-calculate-the-confidence-interval-by-hand-and-also-plot-them" data-toc-modified-id="Extra-credit:-calculate-the-confidence-interval-by-hand-and-also-plot-them-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Extra credit: calculate the confidence interval by hand and also plot them</a></div><div class="lev2 toc-item"><a href="#Use-the-stsatsmodels.gaphics-package-to-plot-the-influence-plot." data-toc-modified-id="Use-the-stsatsmodels.gaphics-package-to-plot-the-influence-plot.-33"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Use the stsatsmodels.gaphics package to plot the influence plot.</a></div><div class="lev2 toc-item"><a href="#Extra-credit:-calculate-from-scratch-the-stanrdardized-residuals-and-the-H-leverage-for-the-WLS-model-and-discuss-if-there-are-any-differences" data-toc-modified-id="Extra-credit:-calculate-from-scratch-the-stanrdardized-residuals-and-the-H-leverage-for-the-WLS-model-and-discuss-if-there-are-any-differences-34"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Extra credit: calculate from scratch the stanrdardized residuals and the H leverage for the WLS model and discuss if there are any differences</a></div><div class="lev2 toc-item"><a href="#Discuss-your-findings" data-toc-modified-id="Discuss-your-findings-35"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Discuss your findings</a></div>

# 1 Data
## 1.1 Import data

In [1]:
# imports
import os
import numpy as np
import pandas as pd
import pylab as pl
%pylab inline
import statsmodels.api as sm

Populating the interactive namespace from numpy and matplotlib

/Users/Yuwen/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
# Data 1: The Guardian firearms murders and ownership data
# link 1: 'https://docs.google.com/spreadsheets/d/1chqUZHuY6cXYrRYkuE0uwXisGaYvr7durZHJhpLGycs/edit#gid=0'
link1 = 'https://raw.githubusercontent.com/ywnch/PUI2017_ywc249/master/PUIdata/firearm.csv'
os.system("curl -O " + link1)
os.system("mv firearm.csv " + os.getenv("PUIDATA"))
data1 = pd.read_csv(os.getenv("PUIDATA") + "/" + "firearm.csv")
# Extra: Try download data from Google Docs with an API

# Data 2: Number of mass shootings
# link 2: 'https://datawrapper.dwcdn.net/pvLFI/4/'
link2 = 'https://raw.githubusercontent.com/ywnch/PUI2017_ywc249/master/PUIdata/massshoot.csv'
os.system("curl -O " + link2)
os.system("mv massshoot.csv " + os.getenv("PUIDATA"))
data2 = pd.read_csv(os.getenv("PUIDATA") + "/" + "massshoot.csv")

# Data 3: The world population by country
# link 3: 'http://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=csv'
link3 = 'https://raw.githubusercontent.com/ywnch/PUI2017_ywc249/master/PUIdata/worldpop.csv'
os.system("curl -O " + link3)
os.system("mv worldpop.csv " + os.getenv("PUIDATA"))
data3 = pd.read_csv(os.getenv("PUIDATA") + "/" + "worldpop.csv", header=2)

In [3]:
data1.head()

,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,"Homicide by firearm rate per 100,000 pop",Rank by rate of ownership,Average firearms per 100 people,Average total all civilian firearms
0,Albania,AL,CTS,65.9,56.0,1.76,70.0,8.6,270000.0
1,Algeria,DZ,CTS,4.8,20.0,0.06,78.0,7.6,1900000.0
2,Angola,AO,NaN,NaN,NaN,NaN,34.0,17.3,2800000.0
3,Anguilla,AI,WHO-MDB,24.0,1.0,7.14,NaN,NaN,NaN
4,Argentina,AR,Ministry of Justice,52.0,1198.0,3.02,62.0,10.2,3950000.0

In [4]:
data2.head()

     Country  Guns/100 inhabitants  Number of mass shootings
0  Australia                  15.0                         4
1    Austria                  30.4                         1
2   Beligium                  17.2                         2
3     Canada                  30.8                         4
4    Denmark                  12.0                         0

In [5]:
data3.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,NaN

In [6]:
# since we need information across all data for further analysis,
# merge according to the data set with least countries
print('Lengths of data sets are {}, {}, and {} respectively.'.format(len(data1), len(data2), len(data3)))

Lengths of data sets are 185, 25, and 264 respectively.

## 1.2 Merge data

In [7]:
# merge data1 to data2
data21 = pd.merge(data2, data1, left_on="Country", right_on="Country/Territory", how='left', indicator=True)
data21

,Country,Guns/100 inhabitants,Number of mass shootings,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,"Homicide by firearm rate per 100,000 pop",Rank by rate of ownership,Average firearms per 100 people,Average total all civilian firearms,_merge
0,Australia,15.0,4,Australia,AU,NSO,11.5,30.0,0.14,42.0,15.0,3050000.0,both
1,Austria,30.4,1,Austria,AT,CTS,29.5,18.0,0.22,14.0,30.4,2500000.0,both
2,Beligium,17.2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Canada,30.8,4,Canada,CA,CTS,32.0,173.0,0.51,13.0,30.8,9950000.0,both
4,Denmark,12.0,0,Denmark,DK,CTS,31.9,15.0,0.27,54.0,12.0,650000.0,both
5,Finland,45.3,2,Finland,FI,CTS,19.8,24.0,0.45,4.0,45.3,2400000.0,both
6,France,31.2,6,France,FR,WHO-MDB,9.6,35.0,0.06,12.0,31.2,19000000.0,both
7,Germany,30.3,7,Germany,DE,CTS/National police,26.3,158.0,0.19,15.0,30.3,25000000.0,both
8,Greece,22.5,0,Greece,GR,WHO-MDB,34.9,29.0,0.26,23.0,22.5,2500000.0,both
9,Holland,3.9,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,Hungary,5.5,0,Hungary,HU,CTS,5.0,7.0,0.07,93.0,5.5,560000.0,both
11,Iceland,30.3,0,Iceland,IS,CTS,0.0,0.0,0.00,15.0,30.3,90000.0,both
12,Ireland,8.6,0,Ireland,IE,CTS,42.0,21.0,0.48,70.0,8.6,360000.0,both
13,Italy,11.9,0,Italy,IT,NSO,66.7,417.0,0.71,55.0,11.9,7000000.0,both
14,Japan,0.6,0,Japan,JP,WHO-MDB,1.8,11.0,0.01,164.0,0.6,710000.0,both
15,Luxembourg,15.3,0,Luxembourg,LU,CTS,42.9,3.0,0.62,41.0,15.3,70000.0,both
16,New Zealand,22.6,3,New Zealand,NZ,CTS,13.5,7.0,0.16,22.0,22.6,925000.0,both
17,Norway,31.3,1,Norway,NO,WHO-HFA,8.1,2.0,0.05,11.0,31.3,1400000.0,both
18,Poland,1.3,0,Poland,PL,CTS,7.1,35.0,0.09,142.0,1.3,510000.0,both
19,Portugal,8.5,1,Portugal,PT,CTS,33.8,44.0,0.41,72.0,8.5,900000.0,both
20,Spain,10.4,1,Spain,ES,CTS,21.8,90.0,0.20,61.0,10.4,4500000.0,both
21,Sweden,31.6,2,Sweden,SE,CTS,33.9,37.0,0.41,10.0,31.6,2800000.0,both
22,Switzerland,45.7,2,Switzerland,CH,CTS,72.2,57.0,0.77,3.0,45.7,3400000.0,both
23,United Kingdom,6.2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,United States,88.8,78,United States,US,CTS,60.0,9146.0,2.97,1.0,88.8,270000000.0,both

In [8]:
# check 'left_only' to see potential issues of not merging successfully
data21[data21._merge == 'left_only']

,Country,Guns/100 inhabitants,Number of mass shootings,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,"Homicide by firearm rate per 100,000 pop",Rank by rate of ownership,Average firearms per 100 people,Average total all civilian firearms,_merge
2,Beligium,17.2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,Holland,3.9,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,United Kingdom,6.2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [9]:
# search country using 2-digit iso code
iso = ['GB', 'UK', 'NL', 'BE']
for i in iso:
    print(data1['Country/Territory'][data1['ISO code'] == i])

Series([], Name: Country/Territory, dtype: object)
Series([], Name: Country/Territory, dtype: object)
121    Netherlands
Name: Country/Territory, dtype: object
14    Belgium
Name: Country/Territory, dtype: object

In [10]:
# United Kingdom is broken into different jurisdictions
# It is possible to join an recalculate part of the data to GB as a whole but I am dropping it

# rename countries for consistency
data2.iloc[data2[data2['Country'] == 'Beligium'].index,0] = 'Belgium'
data2.iloc[data2[data2['Country'] == 'Holland'].index,0] = 'Netherlands'

# merge again
data21 = pd.merge(data2, data1, left_on="Country", right_on="Country/Territory", how='left', indicator=True)

# drop UK
data21.drop(data2[data2['Country'] == 'United Kingdom'].index, inplace=True)
data21.reset_index(drop=True, inplace=True)

data21

,Country,Guns/100 inhabitants,Number of mass shootings,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,"Homicide by firearm rate per 100,000 pop",Rank by rate of ownership,Average firearms per 100 people,Average total all civilian firearms,_merge
0,Australia,15.0,4,Australia,AU,NSO,11.5,30.0,0.14,42.0,15.0,3050000.0,both
1,Austria,30.4,1,Austria,AT,CTS,29.5,18.0,0.22,14.0,30.4,2500000.0,both
2,Belgium,17.2,2,Belgium,BE,WHO-MDB,39.5,70.0,0.68,34.0,17.2,1800000.0,both
3,Canada,30.8,4,Canada,CA,CTS,32.0,173.0,0.51,13.0,30.8,9950000.0,both
4,Denmark,12.0,0,Denmark,DK,CTS,31.9,15.0,0.27,54.0,12.0,650000.0,both
5,Finland,45.3,2,Finland,FI,CTS,19.8,24.0,0.45,4.0,45.3,2400000.0,both
6,France,31.2,6,France,FR,WHO-MDB,9.6,35.0,0.06,12.0,31.2,19000000.0,both
7,Germany,30.3,7,Germany,DE,CTS/National police,26.3,158.0,0.19,15.0,30.3,25000000.0,both
8,Greece,22.5,0,Greece,GR,WHO-MDB,34.9,29.0,0.26,23.0,22.5,2500000.0,both
9,Netherlands,3.9,2,Netherlands,NL,NSO,30.7,55.0,0.33,112.0,3.9,510000.0,both
10,Hungary,5.5,0,Hungary,HU,CTS,5.0,7.0,0.07,93.0,5.5,560000.0,both
11,Iceland,30.3,0,Iceland,IS,CTS,0.0,0.0,0.00,15.0,30.3,90000.0,both
12,Ireland,8.6,0,Ireland,IE,CTS,42.0,21.0,0.48,70.0,8.6,360000.0,both
13,Italy,11.9,0,Italy,IT,NSO,66.7,417.0,0.71,55.0,11.9,7000000.0,both
14,Japan,0.6,0,Japan,JP,WHO-MDB,1.8,11.0,0.01,164.0,0.6,710000.0,both
15,Luxembourg,15.3,0,Luxembourg,LU,CTS,42.9,3.0,0.62,41.0,15.3,70000.0,both
16,New Zealand,22.6,3,New Zealand,NZ,CTS,13.5,7.0,0.16,22.0,22.6,925000.0,both
17,Norway,31.3,1,Norway,NO,WHO-HFA,8.1,2.0,0.05,11.0,31.3,1400000.0,both
18,Poland,1.3,0,Poland,PL,CTS,7.1,35.0,0.09,142.0,1.3,510000.0,both
19,Portugal,8.5,1,Portugal,PT,CTS,33.8,44.0,0.41,72.0,8.5,900000.0,both
20,Spain,10.4,1,Spain,ES,CTS,21.8,90.0,0.20,61.0,10.4,4500000.0,both
21,Sweden,31.6,2,Sweden,SE,CTS,33.9,37.0,0.41,10.0,31.6,2800000.0,both
22,Switzerland,45.7,2,Switzerland,CH,CTS,72.2,57.0,0.77,3.0,45.7,3400000.0,both
23,United States,88.8,78,United States,US,CTS,60.0,9146.0,2.97,1.0,88.8,270000000.0,both

In [11]:
# merge data3
data21.drop('_merge', axis=1, inplace=True)
data213 = pd.merge(data21, data3, left_on="Country", right_on="Country Name", how='left', indicator=True)
data213

,Country,Guns/100 inhabitants,Number of mass shootings,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,"Homicide by firearm rate per 100,000 pop",Rank by rate of ownership,...,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61,_merge
0,Australia,15.0,4,Australia,AU,NSO,11.5,30.0,0.14,42.0,...,21691700.0,22031750.0,22340024.0,22728254.0,23117353.0,23460694.0,23789338.0,24127159.0,NaN,both
1,Austria,30.4,1,Austria,AT,CTS,29.5,18.0,0.22,14.0,...,8343323.0,8363404.0,8391643.0,8429991.0,8479375.0,8541575.0,8633169.0,8747358.0,NaN,both
2,Belgium,17.2,2,Belgium,BE,WHO-MDB,39.5,70.0,0.68,34.0,...,10796493.0,10895586.0,11047744.0,11128246.0,11182817.0,11209057.0,11274196.0,11348159.0,NaN,both
3,Canada,30.8,4,Canada,CA,CTS,32.0,173.0,0.51,13.0,...,33628571.0,34005274.0,34342780.0,34750545.0,35155451.0,35544564.0,35848610.0,36286425.0,NaN,both
4,Denmark,12.0,0,Denmark,DK,CTS,31.9,15.0,0.27,54.0,...,5523095.0,5547683.0,5570572.0,5591572.0,5614932.0,5643475.0,5683483.0,5731118.0,NaN,both
5,Finland,45.3,2,Finland,FI,CTS,19.8,24.0,0.45,4.0,...,5338871.0,5363352.0,5388272.0,5413971.0,5438972.0,5461512.0,5479531.0,5495096.0,NaN,both
6,France,31.2,6,France,FR,WHO-MDB,9.6,35.0,0.06,12.0,...,64707044.0,65027512.0,65342776.0,65659790.0,65998570.0,66331957.0,66624068.0,66896109.0,NaN,both
7,Germany,30.3,7,Germany,DE,CTS/National police,26.3,158.0,0.19,15.0,...,81902307.0,81776930.0,80274983.0,80425823.0,80645605.0,80982500.0,81686611.0,82667685.0,NaN,both
8,Greece,22.5,0,Greece,GR,WHO-MDB,34.9,29.0,0.26,23.0,...,11107017.0,11121341.0,11104899.0,11045011.0,10965211.0,10892413.0,10820883.0,10746740.0,NaN,both
9,Netherlands,3.9,2,Netherlands,NL,NSO,30.7,55.0,0.33,112.0,...,16530388.0,16615394.0,16693074.0,16754962.0,16804432.0,16865008.0,16939923.0,17018408.0,NaN,both
10,Hungary,5.5,0,Hungary,HU,CTS,5.0,7.0,0.07,93.0,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9817958.0,NaN,both
11,Iceland,30.3,0,Iceland,IS,CTS,0.0,0.0,0.00,15.0,...,318499.0,318041.0,319014.0,320716.0,323764.0,327386.0,330815.0,334252.0,NaN,both
12,Ireland,8.6,0,Ireland,IE,CTS,42.0,21.0,0.48,70.0,...,4535375.0,4560155.0,4576794.0,4586897.0,4598294.0,4617225.0,4676835.0,4773095.0,NaN,both
13,Italy,11.9,0,Italy,IT,NSO,66.7,417.0,0.71,55.0,...,59095365.0,59277417.0,59379449.0,59539717.0,60233948.0,60789140.0,60730582.0,60600590.0,NaN,both
14,Japan,0.6,0,Japan,JP,WHO-MDB,1.8,11.0,0.01,164.0,...,128047000.0,128070000.0,127833000.0,127629000.0,127445000.0,127276000.0,127141000.0,126994511.0,NaN,both
15,Luxembourg,15.3,0,Luxembourg,LU,CTS,42.9,3.0,0.62,41.0,...,497783.0,506953.0,518347.0,530946.0,543360.0,556319.0,569604.0,582972.0,NaN,both
16,New Zealand,22.6,3,New Zealand,NZ,CTS,13.5,7.0,0.16,22.0,...,4302600.0,4350700.0,4384000.0,4408100.0,4442100.0,4509700.0,4595700.0,4692700.0,NaN,both
17,Norway,31.3,1,Norway,NO,WHO-HFA,8.1,2.0,0.05,11.0,...,4828726.0,4889252.0,4953088.0,5018573.0,5079623.0,5137232.0,5188607.0,5232929.0,NaN,both
18,Poland,1.3,0,Poland,PL,CTS,7.1,35.0,0.09,142.0,...,38151603.0,38042794.0,38063255.0,38063164.0,38040196.0,38011735.0,37986412.0,37948016.0,NaN,both
19,Portugal,8.5,1,Portugal,PT,CTS,33.8,44.0,0.41,72.0,...,10568247.0,10573100.0,10557560.0,10514844.0,10457295.0,10401062.0,10358076.0,10324611.0,NaN,both
20,Spain,10.4,1,Spain,ES,CTS,21.8,90.0,0.20,61.0,...,46362946.0,46576897.0,46742697.0,46773055.0,46620045.0,46480882.0,46447697.0,46443959.0,NaN,both
21,Sweden,31.6,2,Sweden,SE,CTS,33.9,37.0,0.41,10.0,...,9298515.0,9378126.0,9449213.0,9519374.0,9600379.0,9696110.0,9799186.0,9903122.0,NaN,both
22,Switzerland,45.7,2,Switzerland,CH,CTS,72.2,57.0,0.77,3.0,...,7743831.0,7824909.0,7912398.0,7996861.0,8089346.0,8188649.0,8282396.0,8372098.0,NaN,both
23,United States,88.8,78,United States,US,CTS,60.0,9146.0,2.97,1.0,...,306771529.0,309348193.0,311663358.0,313998379.0,316204908.0,318563456.0,320896618.0,323127513.0,NaN,both

## 1.3 Clean data

In [12]:
data213.columns

Index(['Country', 'Guns/100 inhabitants', 'Number of mass shootings',
       'Country/Territory', 'ISO code', 'Source', '% of homicides by firearm',
       'Number of homicides by firearm',
       'Homicide by firearm rate per 100,000 pop', 'Rank by rate of ownership',
       'Average firearms per 100 people',
       'Average total all civilian firearms', 'Country Name', 'Country Code',
       'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       'Unnamed: 61', '_merge'],
      dtype='object')

In [13]:
df = data213.drop(['Country/Territory', 'ISO code', 'Source', '% of homicides by firearm',
                   'Homicide by firearm rate per 100,000 pop', 'Rank by rate of ownership',
                   'Average firearms per 100 people', 'Country Name', 'Country Code',
                   'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963',
                   '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
                   '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
                   '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
                   '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
                   '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
                   '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Unnamed: 61', '_merge'], axis=1)

df.rename(columns={'Country':'country',
                   'Average total all civilian firearms':'arms_total',
                   '2016':'pop',
                   'Number of homicides by firearm':'arms_homi',
                   'Guns/100 inhabitants':'guns_100',
                   'Number of mass shootings':'mass_shoot'}, inplace=True)

df

          country  guns_100  mass_shoot  arms_homi   arms_total          pop
0       Australia      15.0           4       30.0    3050000.0   24127159.0
1         Austria      30.4           1       18.0    2500000.0    8747358.0
2         Belgium      17.2           2       70.0    1800000.0   11348159.0
3          Canada      30.8           4      173.0    9950000.0   36286425.0
4         Denmark      12.0           0       15.0     650000.0    5731118.0
5         Finland      45.3           2       24.0    2400000.0    5495096.0
6          France      31.2           6       35.0   19000000.0   66896109.0
7         Germany      30.3           7      158.0   25000000.0   82667685.0
8          Greece      22.5           0       29.0    2500000.0   10746740.0
9     Netherlands       3.9           2       55.0     510000.0   17018408.0
10        Hungary       5.5           0        7.0     560000.0    9817958.0
11        Iceland      30.3           0        0.0      90000.0     334252.0
12        Ireland       8.6           0       21.0     360000.0    4773095.0
13          Italy      11.9           0      417.0    7000000.0   60600590.0
14          Japan       0.6           0       11.0     710000.0  126994511.0
15     Luxembourg      15.3           0        3.0      70000.0     582972.0
16    New Zealand      22.6           3        7.0     925000.0    4692700.0
17         Norway      31.3           1        2.0    1400000.0    5232929.0
18         Poland       1.3           0       35.0     510000.0   37948016.0
19       Portugal       8.5           1       44.0     900000.0   10324611.0
20          Spain      10.4           1       90.0    4500000.0   46443959.0
21         Sweden      31.6           2       37.0    2800000.0    9903122.0
22    Switzerland      45.7           2       57.0    3400000.0    8372098.0
23  United States      88.8          78     9146.0  270000000.0  323127513.0

# MISSING GDP!!!

# 2 Exploration

## 2.1 Plot mass shooting vs gdp in absolute numbers, and per person. Show errorbars (yerr).

Use Poisson statistics for the errorbars on the number of mass shootings (optional: include errors on the population, also as Poisson statistics)

to include errors in plots or models, use Poisson statistics: square root of the number you are considering (e.g. this country has N fire arms +/- square root of N, or this country has Np [= N/population +/- (square root of N) / population] fire arms per person).

Are there any points that look like they may be outilers?

In [ ]:
fig = pl.figure(figsize=(10,5)) 
ax = fig.add_subplot(111)

scatter = ax.scatter(df_.gdp / 1e9, df_['Number of mass shootings'])
ax.errorbar(df_.gdp / 1e9, df_['Number of mass shootings'], 
            yerr = np.sqrt(df_['Number of mass shootings'] * 1.0), fmt = '.')
ax.set_xlabel("GDP (in billions)")
ax.set_ylabel("Number of mass shooting per person")
ax.set_ylim()
pl.show()
print ("Number of mass shooting vs GDP, " + 
       "errors represent Poisson statistics.\n" + 
       "The datapoint to the top right of the plot is the USA, " + 
       "which has noth the highest GDP and the highest number of mass shootings")

## 2.2 Plot the average number of civilian fire arms per person
first without errors, then with errors. are there  points that look like outliers?

In [ ]:
df_['shootingspp'] = df_["Number of mass shootings"] / df_['pop'] * 1e3

## 2.3 Plot the average number of homicide by fire arms per person
first as a histogram

then against the country GDP, with statistical errors. are there  points that look like outliers?

In [ ]:
fig, ax = plt.subplots()
ax.hist(df_['Number of homicides by firearm'] / df_['pop'] * 1000)
ax.set_xlabel('homicides by firearm per 1000 people');

## 2.4 Plot the number of  homicides by fire arm against the number of civilian firearms. plot the US in a different color
with and without errorbars

## 2.5 plot the number of  mass shootings against the number of civilian firearms. plot the US in a different color
with and without errorbars

# 3 Modeling

## 3.1 Fit a line to the Number of mass shootings per person as a function of Average total all civilian firearms per person. 
Before you do it it is a good idea to make sure that both quantities are roughly of the same order of magnitude (unity). (You can simply divide by the order of magnitude of the mean of the sample to obtain this). Use

    - statsmodels OLS
    - statsmodels WLS
    - seaborn
    - choose one of
        -- creating a function that calculates the residuals and minimizing that function
        -- analytical solution http://mathworld.wolfram.com/LeastSquaresFitting.html
        -- numpy.polyfit() - https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.polyfit.html
    

WLS: that is the weighted square fit. The statsmodel package WLS function allows you to take the uncertainties of each data point into account when you fit your model. It takes the parameter weights, which is the inverse of your errors:
weights = 1.0/df.yerror
Notice that 
    a - sqrt(0) = 0
    b - 1/0 = infinity
    c - you cannot have weight that are infinity in your fit. Please come up with a solution and justify it.


the latter three you can learn about in this example: https://github.com/fedhere/PUI2017_fb55/blob/master/Lab5_fb55/genderIncomeBias.ipynb
Since we did not discuss these, I will add some notes to the repo in the afternoon.

Use the seaborn python package built in regression function  to plot the regression confidence intervals. 

import seaborn  as sns
sns.regplot(x="x", y="y", data=df);

## 3.2 Extra credit: calculate the confidence interval by hand and also plot them 
you can use pylab.fill_between(x, yfit - ci, yfit + ci, alpha=0.5)

**Confidence intervals: **
there are three type of intervals in a linear regression, plot any one of them all three if you want - how do they compare to the seaborn plot?:

1) Confidence intervals for the parameters slope and intercept

2) Confidence interval for the average y value

3) Prediction interval for a single y value

1) __confidence interval of the  model parameters slope and intercept:__
define sigma as the sum of the residuals over the square root of number n of observations. 

sigma: ÏƒÌ‚ =sqrt(Sum((Yoberved_iâˆ’Ypredicted_i)^2)/n)

where the sum is over all observations

Define t_alpha/2,n-2 the t statistics at (1-alpha/2) for a t distribution with n-2 degrees of freedom (you can calculate it with scipy
tp = sp.stats.t.ppf(0.975, n-2)

In [ ]:
from IPython.display import Image
Image(filename="../asset/confidence_intervals_regression.png")

In [ ]:
from IPython.display import Image
Image(filename="../asset/confidence_intervals_regression2.png")

[proof](https://onlinecourses.science.psu.edu/stat414/node/280)

2) **A confidence interval for E(y | x) , the expected (average) value of y for a given x_**

define s: residual standard error sy = sqrt(Sum((y_observed-y_predicted)^2)/(n-2))

(note: n-2 is the degrees of freedom of the problem: observations - number of parameters - 1)

the confidence interval for a given y(x*) is: 

y_predicted(x*) +/- t_(alpha/2)(n-2) * sy * sqrt( 1/n + (x* - mean(x)^2) / sum((x* - mean(x)^2)

In [ ]:
from IPython.display import Image
Image(filename="../Lab5_fb55/ciY.png")

3) **Confidence intervals for average y (predicted) values**

y_predicted(x*) +/- t_(n-2) * sy * sqrt( 1 + 1/n + (x* - mean(x)^2) / sum((x* - mean(x)^2)

very similar, but note the +1 in the square root

In [ ]:
from IPython.display import Image
Image(filename="../Lab5_fb55/ciYaverage.png")

In [ ]:
pl.figure()
import seaborn  as sns
sns.regplot(x="x", y="y", data=df_);

pl.ylabel("Mass shootings")
pl.xlabel("Fire arms");

## 3.3 Use the stsatsmodels.gaphics package to plot the influence plot. 
Read the package documentation to learn how to read this plot and extract the countries with the highest influence

This is the topic of this week's assigned reading, so make sure you do the reading before you do this step. It will help you interpret the plot.

In [ ]:
sm.graphics.influence_plot(modelOLS, alpha  = 0.05, criterion="cooks");

## 3.4 Extra credit: calculate from scratch the stanrdardized residuals and the H leverage for the WLS model and discuss if there are any differences

## 3.5 Discuss your findings

In [ ]:
np.random.seed(10)
x = np.random.uniform(-50, 50, 75)

In [ ]:
def line(x, a=1, b=0):
    """Define th line"""
    y = a * x + b
    return y + np.random.randn(len(y)) * np.sqrt(np.abs(y.mean()))

In [ ]:
y = line(x)

In [ ]:
pl.plot(x, y, '.')
pl.xlabel('x')
pl.ylabel('y', rotation=0)

In [ ]:
# for arrays instead of dataframe, use sm.OLS instead of smf.ols
lm = sm.OLS(endog=y, exog=sm.add_constant(x)).fit()

In [ ]:
sm.add_constant(x)

In [ ]:
y_fit = lm.fittedvalues

In [ ]:
pl.plot(x, y, 'r.')
pl.plot(x, y_fit, 'b-', alpha=0.5)

In [ ]:
lm.summary()

In [ ]:
lm.params

In [ ]:
#pl.errorbar(x, y)

In [ ]:
lm2 = sm.WLS(endog=y, exog=sm.add_constant(x), weights=1.0/yerr).fit()

fitting a line, comment on what conclusions can be drawn from your analysis (and don't jump to conclusions!)